<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1> Welcome to the product info platform</h1>
<form method="post" action="/add_product_detail">
    <input type="text" name="product_id" placeholder="Enter Product ID">
    <input type="text" name="product_name" placeholder="Enter Product Name">
    <input type="text" name="product_price" placeholder="Enter Product Price">
    <input type="text" name="product_category" placeholder="Enter Product Category">
    <input type="submit" value="Submit" name="ok"/>
</form>
</body>
</html>